<!-- app/views/users/new.html.erb -->

<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <% f.options[:html][:class] = 'signup' %>


  <div class="rows">First Name: <%= f.text_field :first_name %></div>
  <div class="rows">Last Name: <%= f.text_field :last_name %></div>
  <div class="rows">Email: <%= f.text_field :email %></div>
  <div class="rows">Password: <%= f.password_field :password %></div>
  <div class="rows">Password Confirmation: <%= f.password_field :password_confirmation %></div>
  <div class="rows"><div></div><%= f.submit "Submit" %></div>

<% end %>